@use 'mixin' as *;
@use 'variables' as *;



header{
    nav{
        border: 1px solid red;
        display: inline;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        li{
            font-size: $fs-base;
        }
    }
}

